@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@100;200;300;400;500;600;700&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Rubik+Mono+One&display=swap');

* {
    font-family: 'M PLUS Code Latin', monospace;
}

.single-promo-box {
background-image: url(img.avif);
}

.promo-bg-1 {
    background-image: url(img-1.jpg);
}

.promo-bg-2 {
    background-image: url(img-2.avif);
}

.section-padding {
    padding: 80px 0;
}

.single-promo-box {
    display: block;
    position: relative;
    height: 280px;
    background-color: #333;
    background-position: center;
    background-size: cover;
    color: #Fff;
    text-decoration: none;
    transition: .3s;
}

.promo-content {
    font-size: 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 25px;
}

.promo-content h2 {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 10px;
}

.single-promo-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #333;
}